.footer {
    display: flex;
    justify-content: space-between;
    margin: 3rem;
}

.footer-item {
    display: flex;
    justify-content: space-around;
    flex-basis: 25%;
}

.footer-item:last-child {
    flex-direction: column;
}

.link-top {
    font-weight: bold;
    padding: .2rem;
}

.link {
    padding: .2rem;
}

.social-links {
    display: flex;
    justify-content: space-around;
}

.social-item {
    width: 40px;
    height: 40px;
    background: #333;
    border-radius: 15px;
    margin: 1rem;
}